<html>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var socket = io();
    </script>
   
<body>
    <p><%= title %> </p>

    <form>
      <input type="text" id="message" placeholder="Type message" />
      <input type="button" id="send" value="Send" />
      
    </form>

    <ul id="message_show">
      
    </ul>

    <script type="text/javascript" src="/javascripts/chat.js"></script>
</body>
</html>